@model CCPDemo.Web.Views.Shared.Components.AccountLogo.AccountLogoViewModel
<a href="~/" class="d-flex justify-content-center mb-10 mb-12">
    <img src="@Model.GetLogoUrl(ApplicationPath)" alt="" class="h-40px"/>
</a>
