GITHUB_TOKEN= ""
HEADFUL=true



### MVC ENVIRONMENT
1__NAME="MVC"
1__PATH=mvc/
1__URL_APP=https://localhost:44302
1__AUTH={"user":"admin","pass":"123qwe"}
#### MVC ENVIRONMENT GITHUB INFORMATION
1__REPO=
1__LABELS=[""] 
1__OWNERS=[""]