<script abp-src="/view-resources/Areas/App/Views/_Bundles/widget-charts.js" asp-append-version="true"></script>

<div class="card card-custom DailySalesContainer h-100">
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Daily Sales</span>
        </h3>
    </div>

    <div class="card-body">
        <canvas class="m_chart_daily_sales" id="m_chart_daily_sales"></canvas>
    </div>
</div>