@model CCPDemo.Web.Areas.App.Models.PhoneBook.PhoneType.IndexViewModel

  <h5 class="kt-subheader__title">@L("AllTypes")</h5>

    <div class="list-group">
    @foreach (var type in Model.Items)
    {
        <a href="javascript:;" style="color: black" class="list-group-item">
            <h5 class="list-group-item-heading" style="font-weight: lighter">
                @type.PhoneTypeName
            </h5>
           
        </a>
    }
    </div>