<div class="card-title">
    <div class="card-title">
        <h3 class="card-label">
            Quill Editor
        </h3>
    </div>
</div>
<form class="form">
    <div class="card-body">
        <div class="mb-5">
            <div id="kt_docs_quill_basic" name="kt_docs_quill_basic" class="min-h-200px">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary test-btn-summernote" type="button">@L("Submit")</button>
    </div>
</form>
